@use "../../Styles/Partials/resets"; 
@use "../../Styles/Partials/mixins" as *; 


.background{
    background-color: #2A2222;
}

.header{
    background-color: #2A2222;
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
    }
    @include desktop{
        max-width: 128rem;
        margin: 0 auto;
    }
    &__logo{
        width:7rem;
        margin: 1rem auto;
        @include tablet{
            margin: 1rem 0;
        }
    }
    &__nav{
        display:flex;
        @include tablet{
            gap: 2rem;
        }
    }
    &__link{
        text-decoration: none;
        margin-top: 1.5rem;
        color:white;
        width:50%;
        text-align: center;
        padding: 0.5rem 0;
        @include tablet{
            width: auto;
        }
        &--active{
            border-bottom: white 2px solid;
        }
    }
}