@use "../../Styles/Partials/resets"; 
@use "../../Styles/Partials/mixins" as *; 


.races__following{
    padding:0 1rem;
    color:white;
    font-size: 2.7rem;
    @include desktop{
        max-width: 128rem;
        margin: 2rem auto;
    }
}