@use "../../Styles/Partials/resets"; 
@use "../../Styles/Partials/mixins" as *; 


.races{
    padding:0 1rem;
    @include tablet{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @include desktop{
        max-width: 128rem;
        margin: 0 auto;
    }
     
    &__title{
        font-size: 2.7rem;
        color:white;
    }
    &__nav{
        display:flex;
        @include desktop{
            max-width: 128rem;
            margin: 0 auto;
        }
        &__back{
            height:2rem;
            padding:0 1rem;
            margin:3.7rem 0;
        }
    }
}